body {
  font-family: "Segoe UI", sans-serif;
  
  background-size: cover; /* full-screen background */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  margin: 0; /* removes unwanted white border */
}

.signup-box {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(8px);
  padding: 30px;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

input,
button {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}

button {
  background: #27ae60;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #219150;
}
